.container
    - (1..10).each do |i|
        .row
            %i.icon-facebook>
            %i.icon-twitter>
            %i.icon-googleplus>
            %i.icon-pinterest>
            %i.icon-dribbble>
        